<h2>{{ lang.form.auth }}</h2>

<form action="authorization">
    <input type="text" name="login" placeholder="{{ lang.form.login }}">
    <input type="password" name="password" placeholder="{{ lang.form.password }}">
    <button type="button" class="showPass">{{ lang.form.showPassword }}</button>
    <button type="submit">{{ lang.form.send }}</button>
</form>