<h2>{{ lang.form.regs }}</h2>

<form action="registration">
    <input type="text" name="login" placeholder="{{ lang.form.login }}">
    <input type="password" name="password" placeholder="{{ lang.form.password }}">
    <button type="submit">{{ lang.form.send }}</button>
</form>